const express = require('express');
const app = express();
const server = require('http').Server(app);
const io = require('socket.io')(server);

// catch all routes to let react router handle routing
app.get('/', (req, res) => {
  res.sendFile(__dirname + '/index.html');
})

io.on('connection', (socket) => {
  /* HERE YOU CAN WRITE ALL YOUR SOCKET FUNCTIONS */
  });
});

// or you can set up an external file by passing `io` through a function
require('./io')(app, io);

server.listen(4000);
